body{
    background-color: #283d24a8;
    color: #c2f2d0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin: 0;
    align-items: center;
}

#main{
    margin: 100px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    width: 90%;
}

#main h1{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 42px;
}

#form-box{
    background-color: rgb(37, 7, 38);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    height: 500px;
    width: 500px;
    box-shadow: rgba(18, 18, 35, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.inputs input{
    width: 240px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#agree{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
}
#agree input{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(137, 24, 24);
    border-radius: 4px;
}

#submit{
    margin-left: 280px;
    margin-top: 10px;
    font-size: 20px;
    height: 50px;
    width: 90px;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(53, 53, 106, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#table-box{
    margin : 0 20px;
    background-color: rgb(6, 45, 16);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    border-radius:20px;
    height: 500px;
    width: 800px;
    box-shadow: rgba(62, 172, 78, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

td,th{
    padding-left: 10px;
    width: 100px;
    text-align: left;
}